@model netcore.Models.Invoice.Item


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
}


<div class="row">
    <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="itemId" />
            <div class="form-group">
                <label asp-for="itemName" class="control-label"></label>
                <input asp-for="itemName" class="form-control" />
                <span asp-validation-for="itemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemDescription" class="control-label"></label>
                <input asp-for="itemDescription" class="form-control" />
                <span asp-validation-for="itemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="taxId" class="control-label"></label>
                <select asp-for="taxId" class ="form-control select2" asp-items="ViewBag.taxId"></select>
            </div>
            <div class="form-group">
                <label asp-for="currencyId" class="control-label"></label>
                <select asp-for="currencyId" class ="form-control select2" asp-items="ViewBag.currencyId"></select>
            </div>
           
        
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
